.carousel-item {
	width : 100%;
}

.carousel-item > img {
	height: 600px;
	object-fit: cover;
}

section {
	display: flex;
	flex-wrap : wrap;
}

.content-wrapper > article {
	display : flex;
	flex : 1 0 0;
	justify-content : center;
	align-items: center;
	
	height : 300px;
	border: 1px solid black;
}